.container {
  padding: 24px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 40px;
}

.subject-container {
  padding: 24px;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  width: 100%;
}

.subject-container > * {
  margin-bottom: 12px;
}

.html-quiz {
  background-color: #fff1e9;
}
.css-quiz {
  background-color: #e0fdef;
}
.js-quiz {
  background-color: #ebf0ff;
}
.accessibility-quiz {
  background-color: #f6e7ff;
}
